
*{
    margin: 0;
    padding: 0;

}
.fundo{
    background-image: linear-gradient(45deg,black, #00233d);
    height: 100vh;
    color: #4d4d4d;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.calculadora{
    position: absolute;
    background-color: #00000065;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid #4d4d4d;
    border-radius: 15px;
    padding: 15px;
}
.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: #1f1f1f;
    border: none;
    border-radius: 15px;
    color: #ffffff;
}
.botao:hover{
    background-color: #00233d;
}
#resultado{
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    border-radius: 10px;
    padding: 5px;
}



/* Botão De Voltar */
sair{
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 1.3em 3em;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
    
    sair:hover{
    background-color: #00233d;
    box-shadow: 0px 15px 20px #001525;
    color: #fff;
    transform: translateY(-7px);
    }
    
    sair:active{
    transform: translateY(-1px);
    }